 body {
	         margin: 96pt;  
			 background-color: #bbbbff;
			    border: #3333ff ridge 12px;
				padding: 24px;
				}
				
a{ 
font-size 18pt;
font-familt: fantasy;
 }				
 
.odds{
Font-family: serif;
font-variant: small-caps;
font-size:24;
text-align:center;
}

#second {
	color: #aaffaa;
	font-weight:900;
	background-color: magenta;
}
 
 #fourth {
	color: magenta;
	font-weight:900;
	background-color: #aaffaa;
}